
  .uber-button {
    background-color: black;
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .uber-button:hover {
    opacity: 0.8;
  }

  .amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    cursor: pointer;
  }

  .amazon-button:hover {
    background-color: rgb(245, 205, 3);
  }


  .github-button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }

  .github-button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  }


  .get-started-button {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 6px;
    transition: background-color 0.15s;
  }

  .get-started-button:hover {
    background-color: rgb(99, 60, 156);
  }

  .download-button {
    background-color: white;
    color: rgb(108, 117, 125);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(108, 117, 125);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s,
      color 0.15s;
  }

  .download-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
  }


   .apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
  }

  .apply-button:hover {
    background-color: rgb(2, 70, 138);
  }

  .save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(10, 102, 194);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.15s,
      border-width 0.15s,
      padding 0.15s;
  }

  .save-button:hover {
    background-color: rgb(226, 240, 254);
    border-width: 2px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 23px;
    padding-right: 23px;
  }


  .tweet-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
  }

  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  } 

    .subscribe-button {

    background-color: rgb(204, 0, 0);

    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
    vertical-align: top;

    }

    .back-button {
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
  }

  .search-result {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
  }

  .next-button {
    margin-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
  }


  .stretch-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: padding-top 1s,
      padding-bottom 1s,
      padding-left 1s,
      padding-right 1s;
  }

  .stretch-button:hover {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .shadow-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }

  .shadow-button:active {
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
  }


  .stretch-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;

    transition: padding 0.15s,
      margin 0.15s;
  }

  .stretch-button:hover {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }



